      <div class="w-full bg-purple-700 text-white flex items-center h-12 justify-center block">
        <p> Copyrights © <%- new Date().getFullYear() %> </p>
      </div>
    </div>
  </body>

</html>