<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

</head>

<body>
  <div class="">
    <!-- main div -->

    <div class="bg-purple-700 text-white h-12 sm:h-16 flex justify-between px-4 md:px-10 items-center sticky top-0 z-50">
      <a href="/">
        <button class="text-xl flex items-center tracking-light font-semibold sm:text-4xl shrink-0">
          <img class="h-7 md:h-9 md:pt-1 md:pr-2" src="/images/icon.png" >
          <span>
            Daily Journal
          </span>
        </button>
      </a>
      <div class="flex items-center">
        <ul class="flex text-sm sm:text-xl ">
          <li class="pl-4 md:pl-8 hover:scale-105" id="home"> <a href="/">Home</a> </li>
          <li class="pl-4 md:pl-8 hover:scale-105" id="about"> <a href="/about">About</a> </li>
          <li class="pl-4 md:pl-8 hover:scale-105 hover:font-semibold" id="contact"> <a href="/contact">Contact</a> </li>
        </ul>
      </div>


    </div>




    