<%- include("partials/header") %>

<div class="aboutContent">
  <h1 class="marginDown">Hey there! I'm Akash</h1>
  <img src="images/myPic.jpg" alt="myPic">
  <p>
    So someday, somehow it happened; the spark I was missing ignited the instant I clicked play on my
    first Python tutorial video. Since then, I can't get enough.
    Front-end web development calls to all my passions; it incorporates creativity
    and problem solving, and I'm allowed to break it to improve the code
    (in a separate Git branch, of course).
  </p>

  <p>
    I love applying responsive design principles and watching my web pages shrink into mobile
    screens and still look amazing. It's oddly satisfying. I think in a way I'm kind of like
    those web pages; I'm moldable, but I still keep my creative flair intact.
  </p>

  <p>
    My specialties include quickly learning new skills and programming languages,
    problem-solving, and responsive web designs. So far I have JavaScript, HTML, CSS, Python,
    jQuery, Bootstrap, and Git/GitHub under my belt. I've started learning Node.JS, MongoDB,
    Express.JS, and React.JS. I'm still enthusiastically grabbing onto any other programming
    languages, frameworks, or principles I can integrate into the coding web in my head.
  </p>

  <p>
    P.S- I copied this about us paragraph from somewhere.
  </p>
</div>


<%- include("partials/footer") %>
